.tm-about-wrap .tm-section .dashicons {
	margin-top: -4px;
	vertical-align: middle;
}

.tm-about-wrap .nav-tab {
	font-size: 16px;
}

.tm-about-wrap h1 {
	font-size: 2em;
}

.tm-about-wrap h3 {
	font-size: 1.2em;
}

.tm-about-wrap .tm-section-useful-plugins,
.tm-about-wrap .tm-section-upgrade-to-pro,
.tm-about-wrap .tm-section-demo-content {
	margin-top: 50px;
}

.tm-about-wrap .wp-badge {
	background-image: url('../images/logo.png');
	background-color: #FFF;
	background-position: center;
	background-size: contain;
	padding: 0;
	margin: 0;
	width: 190px;
	height: 190px;
}

.tm-about-wrap .quick-links a {
	margin-right: 5px;
}

.tm-about-notice .btn-dismiss {
	margin-left: 20px;
}

.tm-about-wrap .plugin-list {
	list-style-position: inside;
	list-style-type: disc;
}
